@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700&display=swap);

::-moz-selection {
    /* Code for Firefox */
    color: #0e2965;
    background: yellow;
}

::selection {
    color: #0e2965;
    background: yellow;
}

::-webkit-scrollbar {
    width: 0px;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}


.highlight {
    background-color: yellow;
    color: #0e2965;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: auto;
    width: 100%;
    overflow-x: hidden;
}

html {
    font: 400 18px/1.7 Montserrat, -apple-system, BlinkMacSystemFont, Arial, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.header {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    overflow: visible;
    width: 100%;
    max-width: 1580px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 39px;
    padding-right: 160px;
    padding-left: 160px;
}

._1U_C4ABPtKkz7eaBv0cyhs_0 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 20;
    visibility: visible;
    font-size: 0.76471rem;
    background: transparent;
    padding: 15px 20px;
    -webkit-transition: background 0.35s ease-out;
    transition: background 0.35s ease-out;
}

._1U_C4ABPtKkz7eaBv0cyhs_0._3yFWpCl4ZGnw6I6qdw1x6N_0 {
    background: black;
}

@media (min-width: 48em) {
    ._1U_C4ABPtKkz7eaBv0cyhs_0 {
        visibility: hidden;
        padding: 40px;
    }
}

@media (min-width: 64.0625em) {
    ._1U_C4ABPtKkz7eaBv0cyhs_0 {
        padding: 50px 80px;
    }
}

a:not([class]),
a:visited {
    color: #F7F7F7;
    text-decoration: none;
    -webkit-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}

.no-touchevents a:not([class]):hover,
.no-touchevents a:visited:hover {
    color: rgba(247, 247, 247, 0.6);
}

._19km3lNzPqKtZPjgWDdusC_0 {
    height: 42px;
    width: auto;
    fill: #3c3c3b;
    visibility: visible;
    cursor: pointer;
}

@media (min-width: 48em) {
    ._19km3lNzPqKtZPjgWDdusC_0 {
        height: 58px;
        width: auto;
    }
}

._19km3lNzPqKtZPjgWDdusC_0 .logo-text {
    -webkit-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
    opacity: 1;
}

@media (min-width: 62em) {
    ._19km3lNzPqKtZPjgWDdusC_0._1aAnc-dyhVoY8Vvk3mSMYV_0 {
        fill: #292929;
    }
}

._19km3lNzPqKtZPjgWDdusC_0._1aAnc-dyhVoY8Vvk3mSMYV_0 .logo-text {
    opacity: 0;
    -webkit-transform: translate3d(20%, 0, 0) rotateY(45deg);
    transform: translate3d(20%, 0, 0) rotateY(45deg);
}

.logo-text.hidden {
    opacity: 0;
}


._1RSwN97K6G1TL2tYCPpdnU_0 {
    padding-right: 50px;
    padding-left: 150px;
    white-space: nowrap;
}

@media (min-width: 48em) {
    ._1RSwN97K6G1TL2tYCPpdnU_0 {
        padding-right: 75px;
    }
}

._1RSwN97K6G1TL2tYCPpdnU_0 a {
    display: inline-block;
    visibility: visible;
    position: relative;
    padding: 14px 30px;
    background: #0072CE;
    border-radius: 60px;
    color: #F7F7F7;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: all 0.4s cubic-bezier(0.17, 0.67, 0.59, 0.85);
    transition: all 0.4s cubic-bezier(0.17, 0.67, 0.59, 0.85);
}

._1RSwN97K6G1TL2tYCPpdnU_0 a:focus {
    outline: none;
}

._1RSwN97K6G1TL2tYCPpdnU_0 a._2UmA7-I8LHVfSrOpSAXyvL_0 {
    color: white;
    background: black;
}

._1RSwN97K6G1TL2tYCPpdnU_0 a span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.no-touchevents ._1RSwN97K6G1TL2tYCPpdnU_0 a:hover {
    background-color: #00FFFF;
    -webkit-box-shadow: inset 0 0 50px 10px #0072ce;
    box-shadow: inset 0 0 50px 10px #0072ce;
}

.social {
    position: fixed;
    left: 48px;
    top: auto;
    right: auto;
    bottom: 46px;
    z-index: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.icon-social {
    margin-bottom: 16px;
    width: 50%;
    height: auto;
}

.link---social:hover {
    opacity: 0.75;
}

@media (max-width: 991px) {
    .social {
        left: 40px;
        bottom: 40px;
        display: none;
    }
}

@media (max-width: 479px) {
    .social {
        left: 24px;
        bottom: 24px;
        z-index: 2;
    }
}

.model {
    width: 100%;
    height: 100vh;
    --progress-bar-height: 0;
}

body {
    background-color: black
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                          supported by Chrome and Opera */
}

.landing-left {
    background-color: #000;
}

.landing-content {
    position: absolute;
    top: 25%;
    width: 100%;
}

.landing-content>.text {
    color: white;
    font-weight: 700;
    line-height: 1.1;
    font-size: 4vw;
}

.strokeme {
    font-weight: 700;
    font-size: 70px;
    color: transparent;
    line-height: 1.1;
    -webkit-text-stroke: 2px #ffd60087;
    letter-spacing: 1px;
    text-align: center;
}


@media (max-width: 768.98px) {
    .strokeme {
        font-size: 40px;
    }

}

.scroll {
    position: absolute;
    left: 50%;
    bottom: 0;
    color: #3c3c40;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    transition: opacity .4s ease-in-out
}

.scroll>span {
    position: relative;
    width: 2px;
    height: 60px;
    margin: 0 20px;
    background-color: #3c3c40
}

.scroll>span>span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e0bf01;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-animation: scrollAnimation 1.8s infinite cubic-bezier(.17, .67, .59, .85);
    animation: scrollAnimation 1.8s infinite cubic-bezier(.17, .67, .59, .85)
}

.hide {
    opacity: 0;
}


@-webkit-keyframes scrollAnimation {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        opacity: 0
    }

    50% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        opacity: 1
    }

    51% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 0 100%;
        transform-origin: 0 100%;
        opacity: 1
    }

    to {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 0 100%;
        transform-origin: 0 100%;
        opacity: .5
    }
}

@keyframes scrollAnimation {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        opacity: 0
    }

    50% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        opacity: 1
    }

    51% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 0 100%;
        transform-origin: 0 100%;
        opacity: 1
    }

    to {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 0 100%;
        transform-origin: 0 100%;
        opacity: .5
    }
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700&display=swap);


* {
    box-sizing: border-box
}

html,
body {
    height: 100%;
    padding: 0;
    margin: 0
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #131313;
    color: #2128bd;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.model-canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    cursor: pointer;
}

.controls {
    position: absolute;
    top: 40%;
    right: 0;
    margin: 10px;
}

.controls a {
    padding: 5px 5px;
    cursor: pointer;
    width: 100px;
    margin-bottom: 5px;
    background: transparent;
    border: 0;
    color: white;
    font-size: 21px;
    text-align: left;
}

.container {
    width: 100%;
}

.landing {
    width: 100%;
    height: 100%;
}




/* That's it: */
.mouse {
    display: block;
    position: absolute;
    margin: 0 auto;
    width: 26px;
    height: 46px;
    border-radius: 13px;
    border: 2px solid #ffae00;
    bottom: 20px;
    left: 50%;
    margin-left: -13px;
}

.mouse span {
    display: block;
    margin: 6px auto;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #ffae00;
    border: 1px solid transparent;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: scroll;
    animation-name: scroll;
}

.mouse p {
    display: block;
}

@-webkit-keyframes scroll {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(16px);
        transform: translateY(16px);
    }
}

@keyframes scroll {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(16px);
        -ms-transform: translateY(16px);
        transform: translateY(16px);
    }
}

section {
    position: relative;
}

ol li {
    list-style-type: none;
}

.pulser {
    -webkit-animation: pulse 3s ease 3.5s infinite normal;
    -moz-animation: pulse 3s ease 3.5s infinite normal;
    -ms-animation: pulse 3s ease 3.5s infinite normal;
    -o-animation: pulse 3s ease 3.5s infinite normal;
    animation: pulse 3s ease 3.5s infinite normal
}

.timeline {
    position: absolute;
    top: 40%;
    right: 2%;
    margin: 10px;
}

.timeline ul {
    margin: 0;
    list-style: none;
    position: relative;
}

/*   .timeline ul::before {
    content: ' ';
    height: 100%;
    width: 2px;
    background-color: #d9d9d9;
    position: absolute;
    top: 0;
    left: 2.5em;
    z-index: -1;
} */

.timeline li div {
    display: inline-block;
    margin: 2px 0;
}

.timeline .time {
    width: auto;
    font-size: 15px;
    text-align: right;
}

.timeline .bullet {
    width: 1em;
    height: 1em;
    box-sizing: border-box;
    border-radius: 50%;
    background: #000;
    z-index: 1;
    margin-right: 4px;
    vertical-align: sub;
}

.timeline .bullet.orange {
    border: 2px solid #ffb000;
}

.timeline li:hover>.bullet {
    border: 2px solid #eeff00;
    transition: border .3s;
}

.timeline li:hover>.time {
    color: #eeff00;
    transition: color .3s;
}

.specs {
    position: absolute;
    width: 500px;
    height: 200px;
    background-color: #303030ba;
    bottom: 5%;
    left: 10%;
    transition: opacity 0.3s ease-in-out;
}

.spec {
    position: absolute;
    transition: opacity 0.3s ease-in-out;
}

.specs .title {
    margin: 10px;
    margin-left: 20px;
}

.specs .title span {
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
}

.specs .points {
    padding-left: 50px;
}

.types {
    position: relative;
    overflow: hidden;
}

.types .type-container {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 60px;
}

.types .content {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
}

.types .content h2 {
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-size: 66px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.09;
    letter-spacing: normal;
    text-align: center;
    color: #6c63ff;
    margin: 30px 0;
}

.types .content h4 {
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-size: 25px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.09;
    letter-spacing: normal;
    text-align: center;
    color: #ffae00
}

.types .content p {
    max-width: 100%;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto
}

.sub-content {
    padding: 20px 0;
}


@media (max-width: 750px) {
    .types .type-container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 60px;
        padding-bottom: 30px;
    }

    .types .content h2 {
        font-size: 45px;

    }

    .types .content p {
        font-size: 18px;
    }
}


.contacts {
    position: relative;

    margin: 50px 0;
}

.contacts-container {
    padding: 0 250px;
}


.title .title-container:last-child {
    display: inline-block;
}

.contacts .title-container {
    position: relative;
    overflow: hidden;
}

.contacts .title-container::before {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    background: #6c63ff;
    content: '';
    transform: translate3d(0, 50%, 0);
}

.contacts .title-text {
    margin: 0;
    display: block;
    position: relative;
    z-index: 1;
    font-size: 60px;
    line-height: 1.1;
    text-transform: uppercase;
    white-space: nowrap;
    color: #FFF;
    animation: Up 0.9s 1.5s both;
}

@media (max-width: 750px) {
    .contacts-container {
        padding: 0 20px;
    }

    .contacts .title-text {
        font-size: 45px;
    }
}

.contacts .contact-details {
    margin-top: 5vh;
}

.contacts .contact-details .contact-city {
    animation: fadeIn 0.9s both;
    animation-delay: 0.9s;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 25px;
    cursor: default;
    color: #6c63ff;
}

.contacts .details-container {
    color: white;
    font-size: 30px;
    margin-top: 10vh;

}

.contacts .details-container ul {
    list-style: none;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    padding: 0
}

.contacts .details-container li {
    margin-bottom: 40px;
}

.contacts .details-container p {
    margin: 6px 0;

    font-size: 20px;
}

.contacts .details-container a {
    display: inline-block;
    margin-bottom: 10px;
}

footer {
    position: relative;
}

.footer {
    display: flex;
    flex-direction: row;
    padding: 50px 200px;
    list-style-type: none;
    color: white;
    justify-content: space-between;
}


@media (max-width: 750px) {
    .footer {
        flex-direction: column;
        padding: 20px 50px;
        text-align: center
    }

    .footer-item {
        align-content: center;
        padding: 10px 0;
    }
}

.footer-socials a {
    padding: 0 25px;
}

.bm-btn_flat {
    position: relative;
    padding: 0 50px;
    height: 54px;
    overflow: hidden;
    color: #22126f;
    background: #fff;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-transition: background .2s, color .2s;
    -o-transition: background .2s, color .2s;
    -moz-transition: background .2s, color .2s;
    transition: background .2s, color .2s
}

a.bm-btn_flat {
    line-height: 54px
}

.bm-btn_flat:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -15px;
    right: -15px;
    bottom: 0;
    -webkit-transform: skew(-25deg) translateX(100%);
    -moz-transform: skew(-25deg) translateX(100%);
    -ms-transform: skew(-25deg) translateX(100%);
    -o-transform: skew(-25deg) translateX(100%);
    transform: skew(-25deg) translateX(100%);
    background: rgba(34, 18, 111, .1);
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s
}

.bm-btn_flat:focus,
.bm-btn_flat:hover {
    text-decoration: none;
    color: #22126f
}

.bm-btn_flat:focus:before,
.bm-btn_flat:hover:before {
    -webkit-animation: bm-btn_flat-before-show .4s;
    -moz-animation: bm-btn_flat-before-show .4s;
    -o-animation: bm-btn_flat-before-show .4s;
    animation: bm-btn_flat-before-show .4s;
    -webkit-transform: skew(-25deg) translateX(0);
    -moz-transform: skew(-25deg) translateX(0);
    -ms-transform: skew(-25deg) translateX(0);
    -o-transform: skew(-25deg) translateX(0);
    transform: skew(-25deg) translateX(0)
}

.bm-btn_flat:active {
    background: #f2f2f2
}

.bm-btn_flat:active:before {
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    animation: none;
    -webkit-transform: skew(-25deg) translateX(100%);
    -moz-transform: skew(-25deg) translateX(100%);
    -ms-transform: skew(-25deg) translateX(100%);
    -o-transform: skew(-25deg) translateX(100%);
    transform: skew(-25deg) translateX(100%)
}

.bm-btn_flat:disabled {
    pointer-events: none;
    opacity: .6
}

.bm-btn_flat span {
    position: relative;
    z-index: 1
}

.bm-btn_flat.-full {
    width: 100%
}

.bm-btn_flat.-sm {
    padding: 0 25px
}

.bm-btn_flat.-primary {
    color: #fff;
    background: #22126f;
}

.bm-btn_flat.-primary:before {
    background: rgba(255, 255, 255, .1)
}

.bm-btn_flat.-primary:active {
    background: #22126f
}

.bm-btn_flat.-primary:focus,
.bm-btn_flat.-primary:hover {
    color: #fff
}

@-webkit-keyframes bm-btn_flat-before-show {
    0% {
        -webkit-transform: skew(-25deg) translateX(-100%);
        transform: skew(-25deg) translateX(-100%)
    }

    100% {
        -webkit-transform: skew(-25deg) translateX(0);
        transform: skew(-25deg) translateX(0)
    }
}

@-moz-keyframes bm-btn_flat-before-show {
    0% {
        -moz-transform: skew(-25deg) translateX(-100%);
        transform: skew(-25deg) translateX(-100%)
    }

    100% {
        -moz-transform: skew(-25deg) translateX(0);
        transform: skew(-25deg) translateX(0)
    }
}

@-o-keyframes bm-btn_flat-before-show {
    0% {
        -o-transform: skew(-25deg) translateX(-100%);
        transform: skew(-25deg) translateX(-100%)
    }

    100% {
        -o-transform: skew(-25deg) translateX(0);
        transform: skew(-25deg) translateX(0)
    }
}

@keyframes bm-btn_flat-before-show {
    0% {
        -webkit-transform: skew(-25deg) translateX(-100%);
        -moz-transform: skew(-25deg) translateX(-100%);
        -o-transform: skew(-25deg) translateX(-100%);
        transform: skew(-25deg) translateX(-100%)
    }

    100% {
        -webkit-transform: skew(-25deg) translateX(0);
        -moz-transform: skew(-25deg) translateX(0);
        -o-transform: skew(-25deg) translateX(0);
        transform: skew(-25deg) translateX(0)
    }
}

.custom-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #131313;
    border: rgb(86, 86, 86) 1px solid;
}

/* On mouse-over, add a grey background color */
.custom-checkbox:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.custom-checkbox input:checked~.checkmark {
    background-color: #FEBD1C;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.custom-checkbox input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.custom-checkbox .checkmark:after {
    left: 6.5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}